<div class="container">
   <div class="">
      <br>
      <div class="well">
         <h3 class="">Join our mailing list!</h3>
         <p class="">You will get one email per week on Monday mornings with some the best Top Advice entries.&nbsp;</p>
      </div>
   </div>
   <div class="control-group">
      <div class="controls"></div>
   </div>
   <div class="control-group">
      <div class="controls"></div>
   </div>
   <div class="control-group"></div>
   <form>
      <div class="control-group">
         <label class="control-label">Name:</label>
         <div class="controls">
            <input type="text" class="">
            <div class="control-group">
               <label class="control-label">Email:</label>
               <div class="controls"><input type="text" class=""></div>
            </div>
         </div>
      </div>
   </form>
   <div class="container"></div>
   <button type="submit" class="btn">Submit</button>
</div> <!-- /container -->