<div class="container">
   <div class="">
      <br>
      <div class="well">
         <h3 class="">Join our mailing list!</h3>
         <p class="">You will get one email per week on Monday mornings with some the best Top Advice entries.&nbsp;</p>
      </div>
   </div>
   <div class="control-group">
      <div class="controls"></div>
   </div>
   <div class="control-group">
      <div class="controls"></div>
   </div>
   <div class="control-group"></div>
   <!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://herokuapp.us7.list-manage.com/subscribe/post?u=3021b8cc9c34ff860a4208ae3&amp;id=e94ec8a344" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
   <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
   <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
   <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
   </div>   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
   <!-- <form>
      <div class="control-group">
         <label class="control-label">Name:</label>
         <div class="controls">
            <input type="text" class="">
            <div class="control-group">
               <label class="control-label">Email:</label>
               <div class="controls"><input type="text" class=""></div>
            </div>
         </div>
      </div>
   </form>
   <div class="container"></div>
   <button type="submit" class="btn">Submit</button>
</div> <!-- /container --> -->