<div class="container">
   <br>
   <div class="well">
    <h3 class="jetstrap-highlighted">
               Have more to say?<br>
               We would love to hear from you.
   </h3>
   </div>
   <form>
      <div class="control-group">
         <label class="control-label">
           
            Name:
         </label>
         <div class="controls">
            <input type="text" class="">
            <div class="control-group">
               <label class="control-label">Email:</label>
               <div class="controls">
                  <input type="text">
                  <div class="control-group">
                     <label class="control-label">What's on your mind?</label>
                     <div class="controls"><textarea class=""></textarea></div>
                  </div>
                  <div class="control-group">
                     <div class="controls"></div>
                  </div>
               </div>
            </div>
            <div class="control-group">
               <div class="controls"></div>
            </div>
         </div>
      </div>
   </form>
   <button type="submit" class="btn">Submit</button>
</div> <!-- /container -->