<div class="">
	<br>
   <div class="well">
      <h3 class="">About Top Advice</h3>
   </div>
   <div class=""><br></div>
   <div class=""><br></div>
   Top Advice is the brain child of Leor Manelis. It was a simple idea to create a site similar to <a href="www.43things.com">43things.com</a>&nbsp;for the sole purpose of spreading great advice to benefit the world. For Free. A gathering place of some sorts to find that piece of inspiration or advice that you were searching for.&nbsp;
   <div class=""><br></div>
   <div class="">It is also my final project for DaVinci Institute.&nbsp;</div>
</div> <!-- /container -->