<br>
  <div class="well">
    <h3 class="">Looking for some Top Advice?</h3>
     <p class="">Check out some of our most recent entries.&nbsp;</p>
   </div>

<ol style="font-size: 16px">
<% for advice in @advices %>
 <li><%= advice.message %>
<% end %>
</li>
</ol>
