<div class="container jetstrap-selected">
   <br>
   <div class="well">
   <div class="">
      <b class=""><br>So you've got some great advice to share?</b>&nbsp;You came to the right place! Just fill out the fields below and start spreading the good word.
      <div class=""><br></div>
      <div class="">
         Be sure to sign up for our mailing list to get all Top Advice emailed to you once a week (Mondays).&nbsp;
         <div class=""><br></div>
      </div>
   </div>
   </div>
   <% for error in @advice.errors.full_messages %>
      <%= error %> <br><br>
   <% end %>

   <form action="/advices" method="post">
      <div class="control-group">
         <label class="control-label">Name:</label>
         <div class="controls jetstrap-highlighted">
            <input type="text" class="" name="[advice][full_name]">
            <div class="control-group">
               <div class="controls"></div>
            </div>
            <div class="control-group">
               <div class="controls"></div>
            </div>
            <div class="control-group">
               <label class="control-label">Email: (Don't worry this wont be seen)</label>
               <div class="controls"><input type="text" class=""></div>
            </div>
            <div class="control-group">
               <div class="controls">
                  <div class="control-group">
                     <label class="control-label">Your Top Advice:</label>
                     <div class="controls"><textarea class="" name="[advice][message]"></textarea></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
         <button type="submit" class="btn">Submit</button>
   </form>
</div>