label[for=full_name],
label[for=message]
{
  text-align: center;
  font-family: Verdana;
  font-size: 18px;
}
label{
  vertical-align: top;
}
.container{
margin: 0 auto;
width: 1024px; 
}
.section {
  text-align: right;
}
.section input{
  width: 250px;
}
.section textarea{
  width: 250px;
}  
.form {
  width: 655px;
}
.mini_message{
  margin-right: 10px;
}
.red{
  color: red;
}
.blue{
  color: blue;
}
.green{
 color: green;
}